[Unit]
Description=Moab Brains
DefaultDependencies=false
After=docker.service

[Service]
Type=forking
ExecStart=/bin/bash /home/pi/moab/bin/up
WorkingDirectory=/home/pi/moab
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
