[Unit]
Description=Moab Autostart Docker
DefaultDependencies=false
After=docker.service

[Service]
ExecStart=/bin/bash /home/pi/moab/bin/menu --no-debug
WorkingDirectory=/home/pi/moab
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
